.header {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-header-cell,
th {
  background-color: #2e7d32 !important;
  color: whitesmoke !important;
  font-weight: bold;
}

tr:hover {
  background-color: #2e7d323a;
  transition: all 0.4s;
  cursor: pointer;
}
